<!--
 Group: #3 - Neo-Cortical Repository
 Class: CS 425
 Date: 12/12/2013
 
 This page uses the form to send and get data from the web application.
 The page displays the database search options and search bar, then displays returned results to the user in a table.
 -->

<!-- Form for sending variable data such as the model type check boxes, scope dropdown, and search words -->
<div id="database" class="container page" ng-controller="DBController">
<div><br/><br/><br/></div>
<div><br/></div>
<!-- The table displays the results of the database query by the server. Currently structured for displaying previews of models. -->
<div class="btn-group">    
    <!-- Largest Categories -->
    {% include 'pages/database/Dropdowns/Descriptors.html' %}
    <!-- Models -->
    {% include 'pages/database/Dropdowns/ModelTypes.html' %}

    <!-- Params -->
    {% include 'pages/database/Dropdowns/Params.html' %}

    <!-- Scopes -->
    {% include 'pages/database/Dropdowns/Scopes.html' %}
    

</div>
    
    <br/>
    <br/>
    <!-- Sample Model Table -->
    {% include 'pages/database/components/neuronTable.html' %}
    
    {% if mcount >= 10 %}
    <br/><br/>
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    {% endif %}

</div>