<!--
 Group: #3 - Neo-Cortical Repository
 Class: CS 425
 Date: 12/12/2013
 
 This page uses the form to send and get data from the web application.
 The page displays the database search options and search bar, then displays returned results to the user in a table.
 -->

<!-- Form for sending variable data such as the model type check boxes, scope dropdown, and search words -->
<div id="database" class="container page" ng-controller="DBController">
<form id="searchModelsForm" class="form-search" method="POST" enctype="multipart/form-data"> <!-- ng-app="ModelManager">-->
    <fieldset>
        <legend>Model Search</legend> 
        <label class="span4">Scope: </label>
        <select id="SearchScope" class="span4" name="scope">
            <option>My Models</option>
            <option>My Lab</option>
            <option>My Region</option>
            <option>Global</option>
        </select>
        <label class="span4">Contains: </label>
        <input id="SearchContains" type="text" class="input-medium search-query span4" name="contains" ng-model="searchWord">
            <button id="SearchSubmit" type="submit" class="btn" >Search</button>
            </fieldset>
</form>
<div>
    Model Details and Options here. Existing reports. Promote button. Etc.
</div>

<!-- The table displays the results of the database query by the server. Currently structured for displaying details of Izhikevich models. -->
<div class="span7 offset1">    
    <!-- Neuron Collapsable -->
    {% include 'pages/database/components/neurons.html' %}
    {% include 'pages/database/components/channels.html' %}
    
    {% include 'pages/database/components/neuronTable.html' %} 
    {% include 'pages/database/components/modelInfo.html' %} <!-- Model Info Modal -->
    {% include 'pages/database/components/modelInfoLIF.html' %} <!-- Model Info Modal -->

    <br/><br/>
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

</div>