<!DOCTYPE html>
<html lang = "en">
	<head>
        <title> Neo Cortical Repository and Reports (NCR)</title>
        
        <link rel="icon" type="image/png" href="/assets/ico/ncs_favicon.png">
            
            <!-- NCR Stylesheets -->
            <link rel="stylesheet" href="assets/css/ncr/styles_reports.css" type="text/css">
                <!-- End NCR Stylesheets -->
                
             <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
             <link href="assets/css/ncb/main.css" rel="stylesheet">
             <link href="assets/css/ncb/modelbuilder.css" rel="stylesheet">
	</head>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    
	<body>
            <div class="container">
                <select id="SearchScope" class="span4" name="scope">
                    <option>My Models</option>
                    <option>My Lab</option>
                    <option>My Region</option>
                    <option>Global</option>
                    </select>
            </div>
    <!-- Neuron Options: -->
        <!-- Types -->
            <!-- Izh, HH, NCS -->
        <!-- Params -->
            <!-- Izhikevich -->
                <!-- A -->
                <!-- B -->
                <!-- C -->
                <!-- D -->
                <!-- U -->
                <!-- V -->
                <!-- Threshold -->

            <!-- HH -->
        
        
            <!-- NCS -->
                <!-- threshold -->
                <!-- resting_potential -->
                <!-- calcium -->
                <!-- calcium_spike_increment -->
                <!-- tau_calcium -->
                <!-- leak_reversal potential -->
                <!-- leak conductance -->
                <!-- tau membrane -->
                <!-- r_membrane -->
                <!-- spike_shape -->
                <!-- channels -->
        <!-- Description -->
        <!-- Website -->
        
        
        
    <!-- End Neuron Options -->
    <!-- Channels -->    
        
        
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
            </a>
        </div>
        
        
        
        <script src="assets/js/lib/jquery.js"></script>
        <script src="assets/js/lib/angular.js"></script>
        <script src="assets/js/lib/bootstrap.js"></script>
        <script src="assets/js/lib/respond.js"></script>
        <script src="assets/js/lib/store.js"></script>
        <script src="assets/js/lib/html5shiv.js"></script>
        <script src="assets/js/lib/underscore.js"></script>
        <script src="assets/js/lib/angular-resource.js"></script>
        <script src="assets/js/lib/async.js"></script>
        <script src="assets/js/ncb/init.js"></script>
        <script src="assets/js/ncr/DBManager.js"></script>
        <script src="assets/js/ncr/main.js"></script>
	</body>
    
    
</html>

