<!DOCTYPE html>
<html lang = "en">
	<head>
        <title> Neo Cortical Repository and Reports (NCR)</title>
	</head>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<body>
            <div class="container">
                <select id="SearchScope" class="span4" name="scope">
                    <option>My Models</option>
                    <option>My Lab</option>
                    <option>My Region</option>
                    <option>Global</option>
                    </select>
            </div>
	</body>
    
</html>

