<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> V</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="V Half">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> T</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Transition Rate">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> A</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Activation Slope">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> D</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Deactivation Slope">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> E</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Equilibrium Slope">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> C</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Conductance">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> R</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Reverse Potential">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> M</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="M Initial">
	</div>
</div>
