<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Forward Scale</th>
            <th>Conductance</th>
            <th>Reversal Potential</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.forward_scale}}</td>
            <td>{{ db[5].specification.conductance}}</td>
            <td>{{db[5].specification.reversal_potential}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Forward Exponent</th>
            <th>Tau Scale</th>
            <th>M Power</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{db[5].specification.forward_exponent}}</td>
            <td>  {{db[5].specification.tau_scale}}</td>
            <td>  {{db[5].specification.m_power}}</td> 
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>M Initial</th>
            <th>Backwards Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{db[5].specification.m_intial.type}}</td>        
            <td>  {{db[5].specification.backwards_rate}}</td>
        </tr>
    </tbody>
</table>