<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Threshold</th>
            <th>Resting Potential</th>
            <th>Capcitance</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.threshhold}}</td>
            <td>{{ db[5].specification.resting_potential.type}} : {{ db[5].specification.resting_potential.min}} , {{ db[5].specification.resting_potential.max}}</td>
            <td>{{ db[5].specification.capacitance}}</td>

        </tr>
    </tbody>
</table>

<h3>Channels </h3>
<!-- Channels Table -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{db[5].specification.channels}}</td>
        </tr>
    </tbody>
</table>