<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Threshold</th>
            <th>Resting Potential</th>
            <th>R Membrane</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.threshhold}}</td>
            <td>{{ db[5].specification.resting_potential.type}} : {{ db[5].specification.resting_potential.min}} , {{ db[5].specification.resting_potential.max}}</td>
            <td>{{ db[5].specification.r_membrane}}</td>

        </tr>
    </tbody>
</table>


<!-- CALCIUM -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Calcium Spike Increment</th>
            <th>Tau Calcium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.calcium_spike_increment}}</td>
            <td>{{ db[5].specification.tau_calcium}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Calcium Standard Deviation</th>
            <th>Calcium Type</th>
            <th>Calcium Mean </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.calcium.standard_deviation}}</td>
            <td>{{ db[5].specification.calcium.type}}</td>
            <td>{{ db[5].specification.calcium.mean}}</td>
        </tr>
    </tbody>
</table>

<!-- Last Table -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Leak Conductance</th>
            <th>Tau Membrane</th>
            <th>Leak Reversal Potential</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.leak_conductance}}</td>
            <td>{{ db[5].specification.tau_membrane}}</td>
            <td>{{ db[5].specification.leak_reversal_potential}}</td>
        </tr>
    </tbody>
</table>

<!-- Spike Shape Table -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Spike Shape</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{db[5].specification..spikeshape}}</td>
        </tr>
    </tbody>
</table>

<h3>Channels </h3>
<!-- Channels Table -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for channel in db[5].specification.channels %}
        <tr>
            <td>{{channel}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>