<h2>Geometry</h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Width</th>
            <th>Depth</th>
            <th>Height</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{db[5].specification.geometry.width}}</td>
            <td>  {{db[5].specification.geometry.depth}}</td>
            <td>  {{db[5].specification.geometry.height}}</td>
        </tr>
    </tbody>
</table>

<h2>Connections</h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Synapse ID</th>
            <th>Recuurent</th>
            <th>Post Synaptic</th>
            <th>Probability</th>
            <th>Presynaptic</th>

        </tr>
    </thead>
    <tbody>
        {% for connection in db[5].specification.connections %}
        <tr>
            <td>  {{connection.synapse}}</td>
            <td>  {{connection.recurrent}}</td>
            <td>  {{connection.postsynaptic}}</td>
            <td>  {{connection.probability}}</td>
            <td>  {{connection.presynaptic}}</td>
        </tr>
        {% end for %}
    </tbody>
</table>

<h2>Neuron Groups</h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Label</th>
            <th>Neuron ID</th>
            <th>Geometry</th>
            <th>Location</th>

        </tr>
    </thead>
    <tbody>
        {% for group in db[5].specification.neuron_groups %}
        <tr>
            <td>  {{group.label}}</td>        
            <td>  {{group.neuron}}</td>        
            <td>  width : {{group.geometry.width}}, depth : {{group.geometry.depth}}, height : {{group.geometry.height}}</td>        
            <td>  x : {{group.location.x}}, y : {{group.location.y}}, z : {{group.location.z}}</td>        

        </tr>
        {% end for %}
    </tbody>
</table>


<h2>Sub Groups</h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Label</th>
            <th>Model ID</th>
            <th>Location</th>
            
        </tr>
    </thead>
    <tbody>
        {% for subgroup in db[5].specification.subgroups %}
        <tr>
            <td>  {{subgroup.label}}</td>        
            <td>  {{subgroup.group}}</td>        
            <td>  x : {{subgroup.location.x}}, y : {{subgroup.location.y}}, z : {{subgroup.location.z}}</td>        
            
        </tr>
        {% end for %}
    </tbody>
</table>

<h2>TODO: Aliases</h2>
<h2> Model Aliases </h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Alias</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  </td>        
            <td>  </td>        
            
        </tr>
    </tbody>
</table>


<h2> Synaptic Aliases </h2>
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Alias</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  </td>        
            <td>  </td>        
            
        </tr>
    </tbody>
</table>
