<!-- Noted as lif_voltage_gated_ion-->

<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Activation Slope</th>
            <th>Conductance</th>
            <th>Deactivation Slope</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ db[5].specification.activation_slope}}</td>
            <td>  {{db[5].specification.conductance}}</td>
            <td>  {{db[5].specification.deactivation_slope}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Reversal Potential</th>
            <th>Equilibrium Slope</th>
            <th>V Half Active</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{db[5].specification.reversal_potential}}</td>        
            <td>  {{db[5].specification.equilibrium_slope}}</td>
            <td>  {{db[5].specification.v_half}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>M Power</th>
            <th>Transaction Rate</th>
            <th>M Initial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{db[5].specification.m_power}}</td>        
            <td>  {{db[5].specification.r}}</td>
            <td>  {{db[5].specification.m_initial}}</td>
        </tr>
    </tbody>
</table>