
.dropdown-header{display:block;padding:3px 22px;font-size:16px;line-height:1.428571429;color:#00F}



/** Courtesy of http://stackoverflow.com/questions/16409266/change-bootstrap-drop-down-to-drop-horizontal-right */
.right
{
    float:right;
    margin : 0 10px 10px 0;

}
.rightMenu {
    position:relative;
    float:right;
    right: 300;
}


/** From the dandy ladies and gents at https://github.com/twbs/bootstrap/issues/2902 */
.drop-right {
    top: 0;
    left: 100px;
}

