<div class="row">
    <div class="span12 collapse-group">
        <h2><a data-toggle="collapse" data-target="#VoltageGatedIon">Voltage Gated Ion Channels</h2></a>
        <div class="collapse" id="VoltageGatedIon">
            <form class="form-horizontal">
                <div class="container">
                    
                    <!-- Row -->
                    <div class="row">
                        <!-- V Half -->
                        <div class="col-md-4">
                            <label class="span4">V Half </label><br/>
                            <input id="vHalfParam" type="text" class="input-medium search-query span4" name="vHalfParam" ng-model="searchVHalf" placeholder="0.0">
                                </div>
                        <!-- Transition Rate-->
                        <div class="col-md-4">
                            <label class="span4">Transition Rate </label><br/>
                            <input id="transitionRateParam" type="text" class="input-medium search-query span4" name="rtransitionRateParam" ng-model="searchTransitionRate" placeholder="0.0">
                                </div>
                        <!-- Activation Slope -->
                        <div class="col-md-4">
                            <label class="span4">Activation Slope </label><br/>
                            <input id="activationSlopeParam" type="text" class="input-medium search-query span4" name="activationSlopeParam" ng-model="searchActivationSlope" placeholder="0.0">   
                                </div>
                    </div>
                    
                    <!-- Row -->
                    <div class="row">
                        <!-- Deactivation Slope -->
                        <div class="col-md-4">
                            <label class="span4">Deactivation Slope </label><br/>
                            <input id="deactivationSlopeParam" type="text" class="input-medium search-query span4" name="deactivationSlopeParam" ng-model="searchDeactivationSlope" placeholder="0.0">
                                </div>
                        <!-- Equillibrium Slope -->
                        <div class="col-md-4">
                            <label class="span4">Equillibrium Slope </label><br/>
                            <input id="equillibriumSlopeParam" type="text" class="input-medium search-query span4" name="equillibriumSlopeParam" ng-model="searchEquillibriumSlope" placeholder="0.0">
                                </div>
                        <!-- Conductance -->
                        <div class="col-md-4">
                            <label class="span4">Conductance </label><br/>
                            <input id="conductanceParam" type="text" class="input-medium search-query span4" name="l]]conductanceParam" ng-model="searchConductance" placeholder="0.0">
                                </div>
                    </div>
                    <!-- Reversal Potential  -->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="span4">Reversal Potential </label>
                            <br/>
                            <input id="reversalPotentialParam" type="text" class="input-medium search-query span4" name="reversalPotentialParam" ng-model="searchReversalPotential" placeholder="0.0">
                                </div>
                        <!-- M Initial -->
                        <div class="col-md-4">
                            <label class="span4">M Initial </label><br/>
                            <input id="mInitialParam" type="text" class="input-medium search-query span4" name="mInitialParam" ng-model="searchMInitial" placeholder="0.0">
                                </div>
                        
                    </div><!-- End row -->
                    
                    
                                       <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button id="SearchSubmit" type="submit" class="btn" >Search</button>
                        </div>
                        
                    </div><!-- End row -->
                </div><!-- End Container -->
            </form>
        </div>
    </div>
</div>