<div class="row">
    <div class="span12 collapse-group">
        <h2><a data-toggle="collapse" data-target="#VoltageGatedChannel">Voltage Gated Channel</h2></a>
        <div class="collapse" id="VoltageGatedChannel">
            <p>Input the search options for each parameter to narrow down your search.</p>
            <form class="form-horizontal">
                <div class="container">
                    
                    <!-- Row -->
                    <div class="row">
                        <!-- Particles -->
                        <div class="col-md-4">
                            <label class="span4">Particles </label><br/>
                            <input id="particlesParam" type="text" class="input-medium search-query span4" name="particlesParam" ng-model="searchParticles" placeholder="list of Model Parameters">
                                </div>
                        <!-- Conductance -->
                        <div class="col-md-4">
                            <label class="span4">Conductance </label></br>
                            <input id="conductanceParam" type="text" class="input-medium search-query span4" name="conductanceParam" ng-model="searchConductance" placeholder="0.0">
                        </div>

                        <!-- Reversal Potential -->
                        <div class="col-md-4">
                            <label class="span4">Reversal Potential </label></br>
                            <input id="reversalPotentialParam" type="text" class="input-medium search-query span4" name="reversalPotentialParam" ng-model="searchReversalPotential" placeholder="0.0">   
                                </div>

                    </div><!-- End row -->
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button id="SearchSubmit" type="submit" class="btn" >Search</button>
                        </div>
                        
                    </div><!-- End row -->
                </div><!-- End Container -->
            </form>
        </div>
    </div>
</div>