<div class="row">
    <div class="jumbotron collapse-group">
        <h2><a data-toggle="collapse" data-target="#channels">Channels</h2></a>
        <div class="collapse" id="channels">
            <p>Search Channel Models based on the types below.</p>
            <!-- Model Type -->
            <div class="container">
                <!-- HH -->
                {% include 'pages/database/components/ChannelTypes/VoltageGatedChannelCollapse.html' %} 
                {% include 'pages/database/components/ChannelTypes/VoltageGatedParticleChannelCollapse.html' %} 
                <!-- NCS -->
                {% include 'pages/database/components/ChannelTypes/VoltageGatedIonChannelCollapse.html' %} 
                {% include 'pages/database/components/ChannelTypes/CalciumDependentChannelCollapse.html' %} 
            </div>
            <!-- End Model Type -->
        </div>
    </div>
</div>
