<div class="row">
	<div class= "col-md-9 col-md-offset-2">
		<ul class="pagination">
			<li ng-class="{disabled: currentPage == 0}"><a ng-click="currentPage=currentPage-1">Previous</a></li>
			<li ng-class="{active: currentPage == 0}"><a ng-click="currentPage=0">1</a></li>
			<li ng-class="{active: currentPage == 1}"><a ng-click="currentPage=1">2</a></li>
			<li ng-class="{active: currentPage == 2}"><a ng-click="currentPage=2">3</a></li>
			<li ng-class="{active: currentPage == 3}"><a ng-click="currentPage=3">4</a></li>
			<li ng-class="{active: currentPage == 4}"><a ng-click="currentPage=4">5</a></li>
			<li ng-class="{active: currentPage == 5}"><a ng-click="currentPage=5">6</a></li>
			<li ng-class="{active: currentPage == 6}"><a ng-click="currentPage=6">7</a></li>
			<li ng-class="{active: currentPage == 7}"><a ng-click="currentPage=7">8</a></li>
			<li ng-class="{active: currentPage == 8}"><a ng-click="currentPage=8">9</a></li>
			<li ng-class="{active: currentPage == 9}"><a ng-click="currentPage=9">10</a></li>
			<li ng-class="{disabled: currentPage >= dbmodels.length/pageSize-1}"><a ng-click="currentPage=currentPage+1">Next</a></li>
		</ul>
	</div>
</div>
