<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Model</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>U</th>
            <th>V</th>
            <th>Threshold</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>{{ db[2].specification.parameters.a}}</td>
            <td>{{ db[2].specification.parameters.b}}</td>
            <td>{{ db[2].specification.parameters.c}}</td>
            <td>{{ db[2].specification.parameters.d}}</td>
            <td>{{ db[2].specification.parameters.u}}</td>
            <td>{{ db[2].specification.parameters.v}}</td>

            <td>{{ db[2].threshold}}</td>

        </tr>
    </tbody>
</table>