<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Models {{mcount}}</th> 
            <th>ID</th>
            <th>Author</th>
            <th>Type</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for model in db %}
        <tr>
            <td></td>
            <td>{{ model._id }}</td>
            <td>{{ model.author }}</td>
            <td>{{ model.specification.type }}</td>
            <td>{{ model.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
