<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Models {{mcount}}</th> 
            <th data-ng-repeat="mvar in mvars">{{mvar}}</th>
            <th>{{mvar}}</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="model in db">
            <td>1</td>
            <td>{{ '{{model.specification.parameters.a}}' }}</td>
            <td>{{ '{{model.specification.parameters.b}}' }}</td>
            <td>{{ '{{model.specification.parameters.c}}' }}</td>
            <td>{{ '{{model.specification.parameters.d}}' }}</td>
            <td>{{ '{{model.specification.parameters.u}}' }}</td>
            <td>{{ '{{model.specification.parameters.v}}' }}</td>
        </tr>
    </tbody>
</table>
