<div class="row">
    <div class="jumbotron collapse-group">
        <h2><a data-toggle="collapse" data-target="#options">Neurons</h2></a>
        <div class="collapse" id="options">
            <p>Search Neuron Models based on the parameters below.</p>
            <!-- Model Type -->
            <div class="container">
                {% include 'pages/database/components/NeuronTypes/IZHNeuronCollapse.html' %} 
                {% include 'pages/database/components/NeuronTypes/HHNeuronCollapse.html' %} 
                {% include 'pages/database/components/NeuronTypes/NCSNeuronCollapse.html' %} 
            </div>
            <!-- End Model Type -->
        </div>
    </div>
</div>
