<div class="row">
    <div class="span12 collapse-group">
        <h2><a data-toggle="collapse" data-target="#IZH">Izhikevich</h2></a>
        <div class="collapse" id="IZH">
            <p>Input the search options for each parameter to narrow down your search.</p>
            <form class="form-horizontal">
        <div class="container">
            
<!-- Row -->
        <div class="row">
        <!-- A -->
        <div class="col-md-4">
        <label class="span4">A </label>
        <input id="aParam" type="text" class="input-medium search-query span4" name="aParam" ng-model="searchA" placeholder="0.0">
        </div>
        <!-- B -->
        <div class="col-md-4">
        <label class="span4">B </label>
        <input id="bParam" type="text" class="input-medium search-query span4" name="bParam" ng-model="searchB" placeholder="0.0">
        </div>
        <!-- C -->
        <div class="col-md-4">
        <label class="span4">C </label>
        <input id="cParam" type="text" class="input-medium search-query span4" name="cParam" ng-model="searchC" placeholder="0.0">   
        </div>
        </div>
            
<!-- Row -->
        <div class="row">
        <!-- D -->
        <div class="col-md-4">
        <label class="span4">D </label>
        <input id="dParam" type="text" class="input-medium search-query span4" name="dParam" ng-model="searchD" placeholder="0.0">
        </div>
        <!-- V -->
        <div class="col-md-4">
        <label class="span4">V </label>
        <input id="vParam" type="text" class="input-medium search-query span4" name="vParam" ng-model="searchV" placeholder="0.0">
        </div>
         <!-- U -->
        <div class="col-md-4">
        <label class="span4">U </label>
        <input id="uParam" type="text" class="input-medium search-query span4" name="uParam" ng-model="searchU" placeholder="0.0">
        </div>
        </div>
<!-- Row -->
        <div class="row">
        <!-- Author -->
            <div class="col-md-4">
                <label class="span4">Author </label>
                <br/>
                <input id="authorParam" type="text" class="input-medium search-query span4" name="authorParam" ng-model="searchAuthor" placeholder="Author">
            </div>
        <!-- Description -->
            <div class="col-md-4">
                <label class="span4">Description </label><br/>
                <input id="descriptionParam" type="text" class="input-medium search-query span4" name="descriptionParam" ng-model="searchDescription" placeholder="Description">
            </div>
            
        <!-- Threshold -->
            <div class="col-md-4">
                <label class="span4">Threshold </label><br/>
                <input id="thresholdParam" type="text" class="input-medium search-query span4" name="thresholdParam" ng-model="searchDescription" placeholder="0.0">
                    </div>
            
        </div><!-- End row -->
        <br/>
        <div class="row">
            <div class="col-md-4">
                <button id="SearchSubmit" type="submit" class="btn" >Search</button>
            </div>
            
        </div><!-- End row -->
        </div><!-- End Container -->
            </form>
        </div>
    </div>
</div>