<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> T</label>
	<div class="col-md-8">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Threshold">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> R</label>
	<div class="col-md-8">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Resting Potential">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Ca</label>
	<div class="col-md-8">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Calcium">
	</div>
</div>
