<div class="row">
    <div class="span12 collapse-group">
        <h2><a data-toggle="collapse" data-target="#NCS">NCS</h2></a>
        <div class="collapse" id="NCS">
            <form class="form-horizontal">
                <div class="container">
                    
                    <!-- Row -->
                    <div class="row">
                        <!-- Utilization -->
                        <div class="col-md-4">
                            <label class="span4">Utilization </label><br/>
                            <input id="utilizationParam" type="text" class="input-medium search-query span4" name="utilizationParam" ng-model="searchUtilization" placeholder="N/A">
                                </div>
                        <!-- Redistribution -->
                        <div class="col-md-4">
                            <label class="span4">Redistribution </label><br/>
                            <input id="redistributionParam" type="text" class="input-medium search-query span4" name="redistributionParam" ng-model="searchRedistribution" placeholder="N/A">
                                </div>
                        <!-- CLast Prefire Time -->
                        <div class="col-md-4">
                            <label class="span4">Last Prefire Time </label><br/>
                            <input id="lastPrefireTimeParam" type="text" class="input-medium search-query span4" name="lastPrefireTimeParam" ng-model="searchLastPrefireTime" placeholder="N/A">   
                                </div>
                    </div>
                    
                    <!-- Row -->
                    <div class="row">
                        <!-- Last Postfire Time -->
                        <div class="col-md-4">
                            <label class="span4">Last Postfire Time </label><br/>
                            <input id="lastPostfireTimeParam" type="text" class="input-medium search-query span4" name="lastPostfireTimeParam" ng-model="searchLastPostfireTime" placeholder="N/A">
                                </div>
                        <!-- Tau Facilitation -->
                        <div class="col-md-4">
                            <label class="span4">Tau Facilitation </label><br/>
                            <input id="tauFacilitationParam" type="text" class="input-medium search-query span4" name="tauFacilitationParam" ng-model="searchTauFacilitation" placeholder="N/A">
                                </div>
                        <!-- Tau Depression -->
                        <div class="col-md-4">
                            <label class="span4">Tau Depression </label><br/>
                            <input id="tauDepressionParam" type="text" class="input-medium search-query span4" name="tauDepressionParam" ng-model="searchTauDepression" placeholder="N/A">
                                </div>
                    </div>
                    <!-- Tau Long Term Positive -->
                    <div class="row">
                        <!-- Author -->
                        <div class="col-md-4">
                            <label class="span4">Tau Long Term Positive </label>
                            <br/>
                            <input id="tauLTPParam" type="text" class="input-medium search-query span4" name="tauLTPParam" ng-model="searchTauLTP" placeholder="Author">
                                </div>
                        <!-- Tau Long Term Negative -->
                        <div class="col-md-4">
                            <label class="span4">Tau Long Term Negative </label><br/>
                            <input id="tauLongTermNegativeParam" type="text" class="input-medium search-query span4" name="tauLongTermNegativeParam" ng-model="searchTauLongTermNegative" placeholder="Description">
                                </div>
                        
                        <!-- Minimum Hebbian A+ Value -->
                        <div class="col-md-4">
                            <label class="span4">Minimum Hebbian A+ Value </label><br/>
                            <input id="minHebbianAPlusParam" type="text" class="input-medium search-query span4" name="minHebbianAPlusParam" ng-model="searchMinHebbianAPlus" placeholder="N/A">
                                </div>
                        
                    </div><!-- End row -->
                    
                    
                    <div class="row">
                        <!-- Minimum Hebbian A- Value -->
                        <div class="col-md-4">
                            <label class="span4">Minimum Hebbian A- Value </label>
                            <br/>
                            <input id="minHebbianANegParam" type="text" class="input-medium search-query span4" name="minHebbianANegParam" ng-model="searchMinHebbianANeg" placeholder="Author">
                                </div>
                        <!-- Maximum Conductance -->
                        <div class="col-md-4">
                            <label class="span4">Maximum Conductance </label><br/>
                            <input id="maxConductanceParam" type="text" class="input-medium search-query span4" name="maxConductanceParam" ng-model="searchMaxConductance" placeholder="Description">
                                </div>
                        
                        <!-- Reversal Potential -->
                        <div class="col-md-4">
                            <label class="span4">Reverse Potential </label><br/>
                            <input id="reversePotentialParam" type="text" class="input-medium search-query span4" name="reversePotentialParam" ng-model="searchReversePotential" placeholder="N/A">
                                </div>
                        
                    </div><!-- End row -->
                    
                    <div class="row">
                        <!-- Tau Postsynaptic Conductance -->
                        <div class="col-md-4">
                            <label class="span4">Tau Postsynaptic Conductance </label>
                            <br/>
                            <input id="tauPostsynapticParam" type="text" class="input-medium search-query span4" name="minHebbianANegParam" ng-model="searchMinHebbianANeg" placeholder="Author">
                                </div>
                        <!-- Maximum Conductance -->
                        <div class="col-md-4">
                            <label class="span4">Maximum Conductance </label><br/>
                            <input id="maxConductanceParam" type="text" class="input-medium search-query span4" name="maxConductanceParam" ng-model="searchMaxConductance" placeholder="Description">
                                </div>
                        
                        <!-- Reversal Potential -->
                        <div class="col-md-4">
                            <label class="span4">Reveral Potential </label><br/>
                            <input id="reversePotentialParam" type="text" class="input-medium search-query span4" name="reversePotentialParam" ng-model="searchReversePotential" placeholder="N/A">
                                </div>
                        
                    </div><!-- End row -->
                    
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button id="SearchSubmit" type="submit" class="btn" >Search</button>
                        </div>
                        
                    </div><!-- End row -->
                </div><!-- End Container -->
            </form>
        </div>
    </div>
</div>